{% extends "base.html" %}
{% load staticfiles %}

{% block scoped_includes %}
  <script src="{% static 'js/list.js' %}"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h2 class="app-title" style="text-transform: uppercase;">{{ tournament.name }}</h2>
<div class="jumbotron">
  <div style="display: inline-block;">
      <form action="{% url 'start_tournament' tournament.pk %}" method="post">
	  {% csrf_token %}
	  <button type="submit" class="btn btn-main btn-default" name="your_name" value="your_value">Start Tournament</button>
      </form>
  </div>

  <div style="display: inline-block;">
      <form action="{% url 'create_team' tournament.pk %}" method="get">
	  {% csrf_token %}
	  <button type="submit" class="btn btn-main btn-default" name="your_name" value="your_value">Register a Team</button>
      </form>
  </div>

  <div id="thebooty"></div>

  <script type="text/javascript">
  // Maps challonge_match_ids to site_map_id
  var match_map = {{ match_map }};
  $(function(){
      var get_tournament_bracket = function(url) {
            var html;
            var success = function(data) {
              // Append the bracket
              html = $.parseHTML(data.contents);
              $('#thebooty').append(html).children('link,style').remove();
              // Get the matches
              $('table.match_table:not(:has(.blank_id)) td.core').each(function(index, elem) {
                  var children = $(this).children().detach();
                  var challonge_match_id = $(this).attr('id').split('_').slice(-2)[0];
                  var site_match_id = match_map[challonge_match_id];
                  var $a = $('<a>').attr('href', "{% url 'tournament' tournament.pk %}" + "matches/" + site_match_id + "/").append(children);
                  $(this).append($a);
              });

              // Add the styling
              $('#thebooty').append('<style scoped>');
              $('#thebooty>style').load("/static/css/challonge_stylesheet.css");
            }
          $.get("//alloworigin.com/get?url=http://challonge.com/" + url + "/module", success);
      }

      get_tournament_bracket('{{ tournament.challonge_tournament_url }}');
  });
  </script>
</div>
{% endblock %}
