{% extends "base.html" %}
{% load staticfiles %}
{% block scope_includes %}
  <script src="{% static 'js/list.js' %}"></script>
{% endblock %}
{% block content %}
<div id="title"><h2 class="app-title">TOURNAMENTS<h2></div>
<div class="jumbotron">
  <table class="table table-hover">
    <thead>
      <tr>
	<th>NAME</th>
	<th># TEAMS</th>
	<th>STATUS</th>
      </tr>
    </thead>
    {% for item in data %}
    <tr> 
      <td><a href="{{ item.id }}"></a>{{ item.name }}
      </td>
      <td>todo
      </td>
      <td>open/closed
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

